body {  
    color:blue;  
    font-size:large;
    font-size:1.5em;
    font-weight:bolder;
    font-style:normal;
    font-family:Cambria,Georgia,"Book Antiqua",serif
}
h2 {  
    color:palevioletred;
    font-weight:bolder;  
    font-style:normal;
    font-family:Cambria,Georgia,"Book Antiqua",serif
}
h1 {  
    color:orange; 
    font-weight:bolder;
    font-style:normal; 
    font-family:Cambria,Georgia,"Book Antiqua",serif
}
h1 {  
    background-color: seashell;  
    width: fit-content;
    font-weight:bolder;
    font-style:normal;
    font-family:Cambria,Georgia,"Book Antiqua",serif

}a:link {  
    color:palegreen;  
}a:visited {  
    color:purple;  
}
a:hover {  
    color:turquoise;  
}
a:active {  
    color:red;  
}
/*change the colors of the cites on williamsassignment3.html*/
cite {  
    color:darkgreen;  
}
h1, h2 {  
    color: darkblue;  
}
p strong {  
    
    color: darkred;  
}
p.intro {  
    font-style: italic;  

}
ol li {  
    margin-bottom: 1.0em;  
}
/* make images float to the right */
img {  
    float: right;  
    margin-left: 1em;  
    margin-bottom: 0.5em;  
}
/* change the width of 2 elements */
#img1100, #img1101 {  
    width: 10%;  
}
/* give an element the display property set to flexbox */
div.flexible {  
    display: flex;  
    justify-content: space-between;  
    margin-bottom: 1em;   

}
/* Add a header element as a Flexbox to create a navigation bar that will appear at the top of all three pages of your website. The navigation bar should contain links for at least three pages in your website. It should not be wider than the body element of your pages. */
header {  
    display: flex;  
    justify-content: space-between;  
    background-color: rgb(255, 230, 0);  
    padding: 1em;  
    margin-bottom: 1em;  
}
/*Then, add a footer element to provide additional information for your website. Your name, the date the page was last modified, contact information, and the type of intellectual property license in effect on your website are kinds of information you could have in your footer. */
footer {  
    background-color: purple;  
    padding: 1em;  
    margin-top: 1em;  
    text-align: center;  
}
/* add padding to 2 elements */
#img1100, #img1101 {  
    padding: 1em;  
}
/* set the margins of 2 elements */
#img1100, #img1101 {  
    margin: 1em;  
}
/* add changes to improve visual properties of the page */
body {  
    background-color: lightgray;  
    margin: 1em;  
    padding: 1em;  
    border: 1px solid black;  
    border-radius: 1em;  
    box-shadow: 5px 5px 5px black;  
}
/* add some new styles to the webpage */
h1 {  
    text-align: center;  
    margin-bottom: 1em;  
}
/* add a new style to the webpage */
h2 {  
    text-align: center;  
    margin-bottom: 1em;  
}
/* add a query so that the left and right margins are smaller when the window width drops below a size of your choice */
@media (max-width: 600px) {  
    body {  
        margin: 0.5em;  
    }
}
@media screen and (orientation: landscape) {
    .myElement {
      font-size: 24px;
    }
  }
  
  @media screen and (orientation: portrait) {
    .myElement {
      font-size: 16px;
    }
  }








